GOOGLE_API_KEY=api-key
MCP_SERVER_HOST=localhost
MCP_SERVER_PORT=8000
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
SUMMARIZATION_MODEL=facebook/bart-large-cnn
RERANKER_WEIGHTS=train/model.pth