.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
Thumbs.db

.vscode/
.idea/
*.iml
*.swp
*.swo

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pth 
*.pkl
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.env
.venv/
venv/

*.pb
*.protobin

build/
dist/
wheelhouse/


*.log
*.tmp
*.cache
*.pid

.env.*
!.env.example